<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfKlip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfKlip.Properties.Settings>
            <setting name="TitleLength" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="BallonLength" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="Click" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MidClick" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RightClick" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="VisibilityHotKeyM" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="VisibilityHotKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ClickHide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MidClickHide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RightClickHide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RevertHide" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FocusMainInstance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ItemHotkeyActAs" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultExAction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowTrayIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableGlassEffect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OmitEmptyStrings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OmitWhitespacesOnlyString" serializeAs="String">
                <value>False</value>
            </setting>
        </WpfKlip.Properties.Settings>
    </userSettings>
</configuration>